---
// Footer — copyright, license, attributions
const year = new Date().getFullYear();
---

<footer>
  <span>
    &copy; <time datetime={String(year)}>{year}</time> Andrew Vasilyev
    <br />
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    <br /><br />
    Powered by <a href="https://astro.build/">Astro</a>
    <br />
    Icons by <a target="_blank" href="https://phosphoricons.com/">Phosphor Icons</a>
    <br /><br />
    <a href="#top" class="top">Top &uarr;</a>
  </span>
</footer>
