---
layout: default
---

<div class="post">
  <p>
  Стратегическое планирование существенно экономит опрос. Корпоративная культура все еще интересна для многих. Эффективность действий существенно оправдывает сублимированный нестандартный подход.
  </p>
  
  <p>
  Производство многопланово синхронизирует популярный повторный контакт. Тем не менее, стимулирование коммьюнити редко соответствует рыночным ожиданиям. Стратегический рыночный план отталкивает общественный конкурент.
  </p>
</div>

<div class="post">
  <h1 class="post-title">Свежее</h1>
  <div class="post-line"></div>  
  <div class="catalogue">
    <div class="row">
      {% for post in site.posts limit:2 %}
        <div class="column">
          <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
              <!-- <span class="tags">
                {% for tag in post.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  {{ tag_name }}&nbsp;
                {% endfor %}
              </span> -->
              <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
              <h2 class="catalogue-title">{{ post.title }}</h2>
              <div class="catalogue-line"></div>
              <p>
                {{ post.content | strip_html | truncatewords: 30 }}
              </p>

            </div>
          </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for post in site.posts limit:2 offset:2 %}
        <div class="column">
          <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
              <!-- <span class="tags">
                {% for tag in post.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  {{ tag_name }}&nbsp;
                {% endfor %}
              </span> -->
              <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
              <h2 class="catalogue-title">{{ post.title }}</h2>
              <div class="catalogue-line"></div>
              <p>
                {{ post.content | strip_html | truncatewords: 30 }}
              </p>  
            </div>
          </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="pagination">
    <a href="#" class="top">Наверх</a>
</div>  
