---
layout: default
---

<div class="post decorate-links">
  <p>
    Привет!
  </p>  
  <p>
    Это блог о программировании, в котором <a href="{{ '/about' | prepend: site.baseurl }}">я</a> объясняю простым языком основы computer science.
  </p>
  <p>
    Моя цель - развеять миф о том, что фундаментальные основы программирования сложны и бесполезны на практике.
  </p>
  <p>
    Новые статьи будут публиковаться регулярно. Подпишись на мой <a href="https://www.twitter.com/retran">Twitter</a> 
    или <a href="https://t.me/toxic_programmer">Telegram-канал</a> чтобы ничего не пропустить.
  </p>
  <p>
    А еще мне можно написать <a href="mailto:me@retran.me">на почту</a> или <a href="https://t.me/retran">в Telegram</a>, оставить фидбек
    и попросить осветить конкретную тему.
  </p>
</div>

<div class="post">
  <h1 class="post-title">Свежее</h1>
  <div class="post-line"></div>  
  <div class="catalogue">
    <div class="row">
      {% for post in site.posts limit:2 %}
        <div class="column">
          <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
              <!-- <span class="tags">
                {% for tag in post.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  {{ tag_name }}&nbsp;
                {% endfor %}
              </span> -->
              <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
              <h2 class="catalogue-title">{{ post.title }}</h2>
              <div class="catalogue-line"></div>
              <p>
                {{ post.content | strip_html | truncatewords: 30 }}
              </p>

            </div>
          </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for post in site.posts limit:2 offset:2 %}
        <div class="column">
          <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
              <!-- <span class="tags">
                {% for tag in post.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  {{ tag_name }}&nbsp;
                {% endfor %}
              </span> -->
              <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
              <h2 class="catalogue-title">{{ post.title }}</h2>
              <div class="catalogue-line"></div>
              <p>
                {{ post.content | strip_html | truncatewords: 30 }}
              </p>  
            </div>
          </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="pagination">
    <a href="#" class="top">Наверх</a>
</div>  
